#!/bin/sh

echo -e "\n\033[3mChecking packages\033[0m"

{{ range .system -}}
if yay -Qs {{ . | quote }} &> /dev/null; then
    echo "[✓] {{ . | quote }}"
else
    echo "[ ] {{ . | quote }}"
fi
{{ end -}}
