#!/bin/sh

{{- if eq .chezmoi.hostname "desktop" }}
    {{ range .packages.desktop -}}
    sudo pacman -S --needed --noconfirm {{ . | quote }}
    {{ end -}}
{{- else if eq .chezmoi.hostname "laptop" }}
    {{ range .packages.laptop -}}
    sudo pacman -S --needed --noconfirm {{ . | quote }}
    {{ end -}}
{{- end }}
