#!/bin/sh

echo -e "\n\033[3mChecking official packages\033[0m"

{{ range .common.pacman -}}
if yay -Qs {{ . | quote }} &> /dev/null; then
    echo "[✓] {{ . | quote }}"
else
    echo "[ ] {{ . | quote }}"
fi
{{ end -}}

echo -e "\n\033[3mChecking AUR packages\033[0m"

{{ range .common.yay -}}
if yay -Qs {{ . | quote }} &> /dev/null; then
    echo "[✓] {{ . | quote }}"
else
    echo "[ ] {{ . | quote }}"
fi
{{ end -}}
