#!/bin/bash

ln -s /usr/lib/systemd/user/waybar.service ~/.config/systemd/user/niri.service.wants/
ln -s ~/.config/systemd/user/swaybg.service ~/.config/systemd/user/niri.service.wants/
ln -s ~/.config/systemd/user/swayidle.service ~/.config/systemd/user/niri.service.wants/
ln -s ~/.config/systemd/user/wlsunset.service ~/.config/systemd/user/niri.service.wants/
