#!/bin/bash

mkdir -p ~/.config/systemd/user/niri.service.wants

ln -sf /usr/lib/systemd/user/mako.service ~/.config/systemd/user/niri.service.wants/
ln -sf ~/.config/systemd/user/swaybg.service ~/.config/systemd/user/niri.service.wants/
ln -sf ~/.config/systemd/user/swayidle.service ~/.config/systemd/user/niri.service.wants/
ln -sf ~/.config/systemd/user/wlsunset.service ~/.config/systemd/user/niri.service.wants/
