[packages]

# should be manually installed
optional = [
    "ocenaudio-bin", # audio editor
    "vulkan-tools",  # to check Vulkan is working
]

# packages already installed during OS setup
already_installed = [
    # with pacstrap
    "base",
    "base-devel",
    "linux",
    "linux-firmware",
    "git",
    "mesa",
    "nano",
    "networkmanager",
    # UKI
    "busybox",
    "amd-ucode",     # for AMD CPU
    "intel-ucode",   # for Intel CPU
    "booster",
    "systemd-ukify",
    # after installation
    "fastfetch",
    # compilers
    "clang",
    "go",
    "lua",
    "rustup",
    # package management
    "yay",
    "pacman-hook-kernel-install", # from AUR
    "pacman-contrib",
    # bootstrap
    "chezmoi",
]

# packages that will be automatically installed with chezmoi scripts
system = [
    "alsa-utils",
    "b43-fwcutter",
    "bluez",
    "bluez-utils",
    "breeze-icons",
    "device-mapper",
    "diffutils",
    "dmidecode",
    "dnsmasq",
    "dosfstools",
    "e2fsprogs",
    "efibootmgr",
    "exfatprogs",
    "ffmpeg",
    "firewalld",
    "freetype2",
    "geoclue",
    "gnome-keyring",
    "hunspell-en_us",
    "imagemagick",
    "inter-font",
    "iwd",
    "less",
    "libnotify",
    "linux-headers",
    "lvm2",
    "man-db",
    "man-pages",
    "materia-gtk-theme",
    "mdadm",
    "modemmanager",
    "noto-fonts",
    "noto-fonts-emoji",
    "noto-fonts-cjk",
    "noto-fonts-extra",
    "p7zip",
    "papirus-icon-theme",
    "parted",
    "pipewire",
    "pipewire-alsa",
    "pipewire-jack",
    "pipewire-pulse",
    "polkit-gnome",
    "poppler",
    "ppp",
    "qt5-wayland",
    "qt6-wayland",
    "reflector",
    "rsync",
    "smartmontools",
    "sof-firmware",
    "sqlite",
    "systemd-sysvcompat",
    "ttf-bitstream-vera",
    "ttf-dejavu",
    "ttf-liberation",
    "ttf-opensans",
    "udisks2",
    "unrar",
    "unzip",
    "usb_modeswitch",
    "usbutils",
    "wayland",
    "wl-clipboard",
    "which",
    "wireplumber",
    "wpa_supplicant",
    "xdg-desktop-portal-gnome",
    "xdg-user-dirs",
    "xdg-utils",
    "xorg-xwayland",
    "xwayland-satellite",
]

common = [
    "alacritty",
    "bat",
    "bob",
    "bottom",
    "cargo-update",
    "cava",
    "chafa",
    "difftastic",
    "discord",
    "eza",
    "fcitx5-im",
    "fcitx5-mozc",
    "fd",
    "firefox",
    "fish",
    "foot",
    "fuzzel",
    "fzf",
    "git-delta",
    "gitui",
    "glow",
    "imv",
    "jq",
    "jujutsu",
    "libqalculate",
    "lld",
    "lua51",
    "luarocks",
    "ly",
    "mako",
    "mdbook",
    "mpv",
    "ncspot",
    "niri",
    "nodejs",
    "npm",
    "nvtop",
    "otf-firamono-nerd",
    "otf-font-awesome",
    "ripgrep",
    "ripgrep-all",
    "rnote",
    "rofimoji",
    "sdcv",
    "sqlitebrowser",
    "starship",
    "stylua",
    "swaybg",
    "swayidle",
    "swaylock",
    "thunderbird",
    "transmission-cli",
    "transmission-gtk",
    "tree-sitter-cli",
    "ttf-nerd-fonts-symbols",
    "ttf-noto-nerd",
    "typos",
    "wakatime",
    "waybar",
    "wev",
    "wlsunset",
    "yazi",
    "zoxide",
    "zsh",
]

aur = ["fswatch", "pandoc-bin", "shellcheck-bin", "tlrc", "xcursor-breeze"]

desktop = ["lib32-vulkan-radeon", "openrgb", "piper", "vulkan-radeon"]

laptop = [
    "brightnessctl",
    "lib32-nvidia-utils",
    "nvidia",
    "nvidia-prime",
    "nvidia-utils",
    "tlp",
    "vulkan-intel",
]

dev = [
    "bacon",
    "bash-language-server",
    "cargo-generate",
    "eslint-language-server",
    "just",
    "love",
    "lua-language-server",
    "markdownlint-cli",
    "prettier",
    "rust-analyzer",
    "shfmt",
    "taplo-cli",
    "tiled",
    "tokei",
    "trunk",
    "typos-lsp",
    "vscode-css-languageserver",
    "vscode-html-languageserver",
    "vscode-json-languageserver",
    "zola",
]

gaming = [
    # minecraft
    "glfw",
    "jre21-openjdk",
    "prismlauncher",
    # osu!
    "osu-lazer-bin",    # aur
    "opentabletdriver", # aur - for tablet support
    # steam (multilib repo)
    "steam",
]
