{
    "layer": "top",
    "position": "top",
    {{- if eq .chezmoi.hostname "desktop" }}
    "output": "HDMI-A-1",
    {{- end }}
    "start_hidden": true,
    "height": 35,
    "margin-top": 7,
    "margin-left": 7,
    "margin-right": 7,

    "modules-left": [
        "custom/arch",
        "wlr/taskbar"
    ],
    "modules-center": ["clock"],
    "modules-right": [
        "tray",
        "network",
        {{- if eq .chezmoi.hostname "laptop" }}
        "battery",
        "backlight",
        {{- end }}
        "pulseaudio"
    ],

    "custom/arch": {
       "format": " ",
       "tooltip": false
    },
    "wlr/taskbar": {
        "all-outputs": true,
        "format": "{title}",
        "tooltip-format": "{title} | {app_id}",
        "rewrite": {
            "Alacritty": "",
            "(Aseprite).*": "",
            ".*(Mozilla Firefox)": "󰈹",
            "ncspot": "",
            "neovim": "",
            ".*(WebCord).*": "󰙯",
            "yazi": ""
        }
    },

    "clock": {
        "calendar": {
            "mode": "month",
            "mode-mon-col": 3,
            "on-scroll": 1,
            "on-click-right": "mode",
            "format": {
                "months": "<i>{}</i>\n",
                "days": "{}",
                "weekdays": "{}",
                "today": "<b><u>{}</u></b>"
            }
        },
        "format": "{:%a %d-%b %R}",
        "actions":  {
            "on-scroll-up": "shift_down",
            "on-scroll-down": "shift_up"
        }
    },

    "tray": {
        "spacing": 10
    },
    "network": {
        // "interface": "wlp2*", // (Optional) To force the use of this interface
        "format-wifi": "{essid} ({signalStrength}%) ",
        "format-ethernet": "ethernet ",
        "tooltip-format": "{ifname} via {gwaddr}",
        "format-linked": "{ifname} (No IP) ",
        "format-disconnected": "disconnected ⚠",
        "format-alt": "{ifname}: {ipaddr}/{cidr}"
    },
    {{- if eq .chezmoi.hostname "laptop" }}
    "battery": {
        "states": {
            // "good": 95,
            "warning": 30,
            "critical": 15
        },
        "format": "{capacity}% {icon}",
        "format-full": "{capacity}% {icon}",
        "format-charging": "{capacity}% ",
        "format-plugged": "{capacity}% ",
        "format-alt": "{time} {icon}",
        // "format-good": "", // An empty format will hide the module
        // "format-full": "",
        "format-icons": ["", "", "", "", ""]
    },
    "backlight": {
        "format": "{percent}% {icon}",
        "format-icons": ["", "", "", "", "", "", "", "", ""]
    },
    {{- end }}
    "pulseaudio": {
        "format": "{volume}% {icon}",
        "tooltip": false,
        "format-muted": "muted ",
        "format-icons": {
            "default": ["", "", ""]
        }
    }
}
