{
    "layer": "top",
    "position": "top",
    "start_hidden": true,
    "height": 35,
    "margin-top": 8,
    "margin-left": 8,
    "margin-right": 8,

    "modules-left": [
        "custom/arch",
        "niri/workspaces",
        "wlr/taskbar",
        "niri/window"
    ],
    "modules-center": ["clock"],
    "modules-right": [
        "tray",
        "niri/language",
        "network",
        {{- if eq .chezmoi.hostname "laptop" }}
        "battery",
        "backlight",
        {{- end }}
        "pulseaudio"
    ],

    "custom/arch": {
       "format": " ",
       "tooltip": false
    },
    "niri/workspaces": {
        "format": "{icon}",
        "format-icons": {
            "default": "󰄰",
            "focused": "󰪥"
        }
    },
    "wlr/taskbar": {
        "format": "{app_id}",
        "tooltip": false,
        "rewrite": {
            "Alacritty": "",
            "(Ankama).*": "󱏲",
            "(Aseprite).*": "",
            "(Dofus).*": "󰪰",
            "firefox": "󰈹",
            "ncspot": "",
            "neovim": "",
            "steam": "󰓓",
            "vesktop": "",
            "yazi": "󰇥"
        }
    },
    "niri/window": {
        "format": "{app_id}",
        "separate-outputs": true
    },

    "clock": {
        "format": "{:%R}",
        "tooltip-format": "{:%A, %d %B}"
    },

    "tray": {
        "spacing": 10
    },
    "niri/language": {
        "format": "xkb: {}",
        "format-en": "English",
        "format-en-intl": "English (intl)",
        "format-pt": "Brazilian"
    },
    "network": {
        // "interface": "wlp2*", // (Optional) To force the use of this interface
        "format-wifi": "{essid} ",
        "format-ethernet": "eth ",
        "tooltip-format": "{ifname} via {gwaddr}",
        "format-linked": "{ifname} (No IP) ",
        "format-disconnected": "disconnected ⚠",
        "format-alt": "{ifname}: {ipaddr}/{cidr}"
    },
    {{- if eq .chezmoi.hostname "laptop" }}
    "battery": {
        "states": {
            // "good": 95,
            "warning": 30,
            "critical": 15
        },
        "format": "{capacity}% {icon}",
        "format-full": "{capacity}% {icon}",
        "format-charging": "{capacity}% ",
        "format-plugged": "{capacity}% ",
        "format-alt": "{time} {icon}",
        // "format-good": "", // An empty format will hide the module
        // "format-full": "",
        "format-icons": ["", "", "", "", ""]
    },
    "backlight": {
        "format": "{percent}% {icon}",
        "format-icons": ["", "", "", "", "", "", "", "", ""]
    },
    {{- end }}
    "pulseaudio": {
        "format": "{volume}% {icon}",
        "tooltip": false,
        "format-muted": "muted ",
        "format-icons": {
            "default": ["", "", ""]
        }
    }
}
