/* docs: https://github.com/Alexays/Waybar/wiki/Configuration */

@import "mocha.css";

* {
    font-family: 'FiraMono Nerd Font';
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(30, 30, 46, 0.5);
    border-radius: 8px;
    border: 1px solid rgba(235, 160, 172, 0.5);
    color: @pink;
}

#custom-tori {
    color: @red;
}

#custom-tori,
#workspaces,
#taskbar,
#window,
#tray,
#language,
#network,
#bluetooth, /* laptop */
#backlight, /* laptop */
#battery, /* laptop */
#pulseaudio {
    margin: 0;
    {{- if eq .chezmoi.hostname "desktop" }}
    padding: 0 32px;
    {{- else if eq .chezmoi.hostname "laptop" }}
    padding: 0 24px;
    {{- end }}
}

#workspaces button {
    min-width: 24px;
    padding: 0;
}

#taskbar button {
  padding: 4px;
  margin: 4px;
}

#workspaces button.empty,
#taskbar button {
    color: @surface1;
}

#workspaces button,
#workspaces button.focused,
#taskbar button.active {
    color: @pink;
}
