/* Documentation: https://github.com/Alexays/Waybar/wiki/Configuration */

@import "mocha.css";

* {
    /* border: none; */
    font-family: 'FiraMono Nerd Font';
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    /* background: transparent; */
    background: rgba(24, 24, 37, 0.5);
    border-radius: 8px;
    border: 2px solid rgba(203, 166, 247, 0.6);
    color: @lavender;
}

#custom-arch {
    color: @blue;
}

#custom-arch,
#workspaces,
#taskbar,
#window,
#clock,
#tray,
#network,
#backlight, /* laptop */
#battery, /* laptop */
#pulseaudio {
    margin: 0;
    padding: 0 32px;
}

#workspaces button {
    padding: 4;
    color: @lavender;
}

#taskbar button {
    /* margin: 0; */
    /* padding: 0; */
    color: @surface1;
}

#taskbar button.active {
    color: @lavender;
}
