/* Documentation: https://github.com/Alexays/Waybar/wiki/Configuration */

@import "mocha.css";

* {
    /* border: none; */
    font-family: 'FiraMono Nerd Font';
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    /* background: transparent; */
    background: rgba(30, 30, 46, 0.9);
    border-radius: 8px;
    border: 1px solid rgba(203, 166, 247, 0.9);
    color: @lavender;
}

#custom-arch {
    color: @blue;
}

#custom-arch,
#workspaces,
#taskbar,
#window,
#clock,
#tray,
#language,
#network,
#bluetooth, /* laptop */
#backlight, /* laptop */
#battery, /* laptop */
#pulseaudio {
    margin: 0;
    {{- if eq .chezmoi.hostname "desktop" }}
    padding: 0 32px;
    {{- else if eq .chezmoi.hostname "laptop" }}
    padding: 0 24px;
    {{- end }}
}

#workspaces button {
    min-width: 24px;
    padding: 0;
    color: @lavender;
}

#workspaces button.empty,
#taskbar button {
    /* margin: 0; */
    /* padding: 0; */
    color: @surface1;
}

#workspaces button.focused,
#taskbar button.active {
    color: @lavender;
}
