// https://github.com/YaLTeR/niri/wiki/Configuration:-Key-Bindings

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Shift+E { quit; }

    Pause { spawn "~/.config/swaylock/lock-screen.fish"; }
    Mod+Pause { spawn "reboot"; }
    Ctrl+Mod+Pause { spawn "poweroff"; }

    Print { screenshot-screen; }
    Ctrl+Print { screenshot-window; }
    Alt+Print { screenshot; }

    Mod+Shift+P { power-off-monitors; }

    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
    XF86AudioMute { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }

    XF86MonBrightnessUp { spawn "brightnessctl" "--class=backlight" "set" "10%+"; }
    XF86MonBrightnessDown { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+Return { spawn "fuzzel"; }
    Mod+Space hotkey-overlay-title="Toggle Waybar" { spawn "killall" "-SIGUSR1" "waybar"; }
    Mod+A { spawn "alacritty"; }
    Mod+Shift+A { spawn "alacritty" "-T" "alacritty_split"; }
    Mod+B { spawn "firefox"; }
    Mod+Shift+B { spawn "blender"; }
    Mod+D { spawn "discord"; }
    Mod+E { spawn "rofimoji" "--selector" "fuzzel"; }
    Mod+M { spawn "prismlauncher"; }
    Mod+N { spawn "alacritty" "--class" "ncspot" "-T" "ncspot" "-e" "ncspot"; }
    Mod+P hotkey-overlay-title="Aseprite" { spawn "steam" "steam://rungameid/431730"; }
    Mod+T { spawn "thunderbird"; }
    Mod+W repeat=false { spawn "sometime" "clock"; }
    Mod+Shift+W repeat=false { spawn "sometime" "calendar"; }
    Mod+Y hotkey-overlay-title="Yazi" { spawn "alacritty" "--class" "yazi" "-T" "yazi" "-e" "yazi"; }

    {{- if eq .chezmoi.hostname "desktop" }}
    Mod+O { spawn "osu-lazer"; }
    Mod+S { spawn "steam"; }
    {{- else if eq .chezmoi.hostname "laptop" }}
    Mod+O { spawn "prime-run" "osu-lazer"; }
    Mod+S { spawn "prime-run" "steam"; }
    {{- end }}

    Mod+H     { focus-column-or-monitor-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-or-monitor-right; }

    Mod+Alt+H { focus-column-first; }
    Mod+Alt+L { focus-column-last; }

    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+J        { focus-workspace-down; }
    Mod+Shift+K        { focus-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }

    Mod+Tab { toggle-overview; }

    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Ctrl+Alt+H { move-column-to-first; }
    Mod+Ctrl+Alt+L { move-column-to-last; }

    Mod+Ctrl+Shift+J   { move-column-to-workspace-down; }
    Mod+Ctrl+Shift+K   { move-column-to-workspace-up; }

    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Shift+1 { move-column-to-workspace "main"; }
    Mod+Shift+2 { move-column-to-workspace "browser"; }
    Mod+Shift+3 { move-column-to-workspace "lounge"; }
    Mod+Shift+4 { move-column-to-workspace 4; }

    Mod+Q { close-window; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
}
