//
//                 ██           ██  
//       ▄▄ ▄▄▄   ▄▄▄  ▄▄▄ ▄▄  ▄▄▄  
//        ██  ██   ██   ██▀ ▀▀  ██  
//        ██  ██   ██   ██      ██  
//       ▄██▄ ██▄ ▄██▄ ▄██▄    ▄██▄ 
//                                  
//    ▄▄·          ▐ ▄  ·▄▄▄ ▪    ▄▄ • 
//   ▐█ ▌▪  ▄█▀▄  •█▌▐█ ▐▄▄  ██  ▐█ ▀ ▪
//   ██ ▄▄ ▐█▌.▐▌ ▐█▐▐▌ █  ▪ ▐█· ▄█ ▀█▄
//   ▐███▌ ▐█▌.▐▌ ██▐█▌ ██ . ▐█▌ ▐█▄▪▐█
//   ·▀▀▀   ▀█▄▀▪ ▀▀ █▪ ▀▀▀  ▀▀▀ ·▀▀▀▀ 
//

// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview

// Input [[[

input {
    // For more information, see xkeyboard-config(7)
    keyboard {
        xkb {
            {{- if eq .chezmoi.hostname "desktop" }}
            layout "us"
            options "grp:alt_shift_toggle,compose:ralt"
            {{- else if eq .chezmoi.hostname "laptop" }}
            layout "br"
            {{- end }}
        }
    }

    touchpad {
        tap
        dwt
        // dwtp
        natural-scroll
        accel-speed 0.5
        // accel-profile "flat"
        // tap-button-map "left-middle-right"
        // click-method "clickfinger"
    }

    // Make the mouse warp to the center of newly focused windows
    warp-mouse-to-focus
}

// ]]]

// Layout [[[

layout {
    gaps 8
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        off

        width 2
        active-gradient from="rgba(245, 194, 231, 0.6)" to="rgba(180, 190, 254, 0.6)" angle=45
        inactive-gradient from="rgb(69, 71, 90)" to="rgb(49, 50, 68)" angle=45
    }

    border {
        // off

        width 2
        active-gradient from="rgba(243, 139, 168, 0.6)" to="rgba(203, 166, 247, 0.6)" angle=45
        inactive-gradient from="rgb(69, 71, 90)" to="rgb(49, 50, 68)" angle=45
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

// ]]]

// Miscellaneous [[[

environment {
    GTK_THEME "Arc-Dark"
    QT_QPA_PLATFORM "wayland"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
}

cursor {
    xcursor-theme "Qogir"
}

prefer-no-csd

// The path is formatted with strftime(3) to give you the screenshot date and time
screenshot-path "~/Pictures/Screenshots/ss %Y-%m-%d %H-%M-%S.png"

// Disable the hotkey help at niri startup
hotkey-overlay {
    skip-at-startup
}

// ]]]

// Animations [[[

animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0

    workspace-switch {
        off
        // spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    horizontal-view-movement {
        off
        // spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-open {
        // off
        duration-ms 250
        curve "ease-out-quad"
    }

    config-notification-open-close {
        off
        // spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }
}

// ]]]

// Workspaces [[[

{{- if eq .chezmoi.hostname "desktop" }}
workspace "main" {
    open-on-output "HDMI-A-1"
}

workspace "browser" {
    open-on-output "DP-2"
}

workspace "lounge" {
    open-on-output "HDMI-A-1"
}
{{- else if eq .chezmoi.hostname "laptop" }}
workspace "main" {}

workspace "browser" {}

workspace "lounge" {}
{{- end }}

// ]]]

// Window Rules [[[

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

window-rule {
    match app-id="(firefox|ncspot|neovim|WebCord|wlroots|yazi)"
    open-maximized true
}

window-rule {
    match at-startup=true app-id="Alacritty"
    open-on-workspace "main"
    open-maximized true
}

window-rule {
    match at-startup=true app-id="firefox"
    open-on-workspace "browser"
}

window-rule {
    match app-id="(ncspot|WebCord)"
    open-on-workspace "lounge"
}

// ]]]

// Key Bindings [[[

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Session [[[

    Mod+Shift+E { quit; }

    Pause { spawn "~/.config/nushell/scripts/lock-screen.nu"; }
    Mod+Pause { spawn "reboot"; }
    Ctrl+Alt+Delete { spawn "poweroff"; }

    Print { screenshot-screen; }
    Ctrl+Print { screenshot; }
    Alt+Print { screenshot-window; }

    Mod+Shift+P { power-off-monitors; }

    // ]]]

    // Control [[[

    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
    XF86AudioMute { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }

    XF86MonBrightnessUp { spawn "brightnessctl" "--class=backlight" "set" "10%+"; }
    XF86MonBrightnessDown { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // ]]]

    // Main apps and programs [[[

    Mod+Space { spawn "killall" "-SIGUSR1" "waybar"; }
    Mod+D { spawn "fuzzel"; }
    Mod+A { spawn "alacritty"; }
    Mod+B { spawn "firefox"; }
    Mod+Y { spawn "alacritty" "--class" "yazi" "-T" "yazi" "-e" "yazi"; }
    Mod+N { spawn "alacritty" "--class" "neovim" "-T" "neovim" "-e" "nvim"; }
    Mod+S { spawn "alacritty" "--class" "ncspot" "-T" "ncspot" "-e" "ncspot"; }
    Mod+W { spawn "webcord" "--ozone-platform=wayland"; }
    Mod+P { spawn "cage" "--" "/usr/bin/aseprite"; }

    // ]]]

    // Focus [[[

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    // Mod+J     { focus-window-or-workspace-down; }
    // Mod+K     { focus-window-or-workspace-up; }

    Mod+Alt+H { focus-column-first; }
    Mod+Alt+L { focus-column-last; }

    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+J        { focus-workspace-down; }
    Mod+Shift+K        { focus-workspace-up; }

    Mod+1 { focus-workspace "main"; }
    Mod+2 { focus-workspace "browser"; }
    Mod+3 { focus-workspace "lounge"; }
    Mod+4 { focus-workspace 4; }

    Mod+Tab { focus-workspace-previous; }

    // ]]]

    // Move [[[

    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

    Mod+Ctrl+Alt+H { move-column-to-first; }
    Mod+Ctrl+Alt+L { move-column-to-last; }

    Mod+Ctrl+Shift+J   { move-column-to-workspace-down; }
    Mod+Ctrl+Shift+K   { move-column-to-workspace-up; }

    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }

    Mod+Shift+1 { move-column-to-workspace "main"; }
    Mod+Shift+2 { move-column-to-workspace "browser"; }
    Mod+Shift+3 { move-column-to-workspace "lounge"; }
    Mod+Shift+4 { move-column-to-workspace 4; }

    // ]]]

    // Columns and windows [[[

    Mod+Q { close-window; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    // Finer width adjustments
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // ]]]

}

// ]]]

// Startup [[[

spawn-at-startup "alacritty"
spawn-at-startup "firefox"
spawn-at-startup "niri" "msg" "action" "focus-workspace" "main"

// ]]]

// vim:fileencoding=utf-8:ft=kdl:fdm=marker:fmr=[[[,]]]
