// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous

spawn-at-startup "alacritty"
spawn-at-startup "firefox"
spawn-at-startup "niri" "msg" "action" "focus-workspace" "main"
spawn-at-startup "sometime-daemon"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/ss %Y-%m-%d %H-%M-%S.png"

environment {
    GTK_THEME "Materia-dark"
    QT_QPA_PLATFORM "wayland"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
}

cursor {
    xcursor-theme "Breeze"

    hide-when-typing
    hide-after-inactive-ms 1000
}

xwayland-satellite {
    // off
    path "xwayland-satellite"
}

hotkey-overlay {
    skip-at-startup
}
