"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio = [1, 3, 4]
sort_by = "mtime"
sort_sensitive = true
sort_reverse = true
linemode = "custom"

[preview]
wrap = "yes"

[[opener.play]]
run = 'mpv --player-operation-mode=pseudo-gui "$@"'
orphan = true
for = "unix"

[[plugin.prepend_previewers]]
url = "*.md"
run = 'piper -- CLICOLOR_FORCE=1 glow -w=$w -s=$HOME/.config/glow/mocha.json "$1"'

[[plugin.append_previewers]]
url = "*"
run = 'piper -- hexyl --border=none --terminal-width=$w "$1"'

[[plugin.prepend_fetchers]]
id   = "mime"
url  = "local://*"
run  = "mime-ext.local"
prio = "high"

[[plugin.prepend_fetchers]]
id   = "mime"
url  = "remote://*"
run  = "mime-ext.remote"
prio = "high"
