[Unit]
Description=Break Reminder Service

[Service]
Type=oneshot
ExecStart=/usr/bin/notify-send --icon=user-away --urgency=critical "wake up" "it's happening"
